<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.JKS.TIL1.DAO.NewsDataDAO">
  		
  <select id="getAll" resultType="com.JKS.TIL1.DTO.NewsData">
    SELECT * FROM news_data
  </select>

  <select id="getNewsByNewsDate" resultType="com.JKS.TIL1.DTO.NewsData" parameterType="_string">
    SELECT * FROM news_data WHERE newsDate=#{newsDate}
  </select>

  <insert id="insertNews" parameterType="com.JKS.TIL1.DTO.NewsData">
    INSERT INTO news_data(newsDate, newsTime, newsTitle, newsUrl) values(#{newsDate}, #{newsTime}, #{newsTitle},#{newsUrl})
  </insert>
</mapper>